.description-enter {
	opacity: 0;
	margin: 0px 0px;
	max-height: 0;
}
.description-enter-active {
	opacity: 1;
	margin: 10px 0px;
	max-height: 100px;
	transition: all 0.5s ease;
}
.description-enter-done {
	opacity: 1;
	margin: 10px 0px;
	max-height: 100px;
}

.description-exit {
	opacity: 1;
	margin: 10px 0px;
	max-height: 100px;
}
.description-exit-active {
	opacity: 0;
	margin: 0px 0px;
	max-height: 0;
	transition: all 0.5s ease;
}

.cart-item-exit {
	opacity: 1;
	margin: 30px 0px 0px 0px;
	padding: 20px 0px;
	max-height: 200px;
	transform: translate(0%);
}
.cart__item.cart-item-exit-active {
	opacity: 0;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	max-height: 0px;
	transform: translateX(-40%);
	transition: all 0.4s ease;
}

.count-enter {
	opacity: 0.3;
	transform: translateY(100%) scale(0.3);
	transition: all 0.4s ease;
}
.count-enter-active {
	opacity: 1;
	transform: translateY(0) scale(1);
}

.count-exit {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transform: translateY(0) scale(1);
	transform: scale(1);
	transition: all 0.4s ease;
}
.count-exit-active {
	opacity: 0.1;
	transform: translateY(-80%) scale(0.5);
}
