.description-enter {
	opacity: 0;
	margin: 0px 0px;
	max-height: 0;
}
.description-enter-active {
	opacity: 1;
	margin: 10px 0px;
	max-height: 100px;
	transition: all 0.5s ease;
}
.description-enter-done {
	opacity: 1;
	margin: 10px 0px;
	max-height: 100px;
}

.description-exit {
	opacity: 1;
	margin: 10px 0px;
	max-height: 100px;
}
.description-exit-active {
	opacity: 0;
	margin: 0px 0px;
	max-height: 0;
	transition: all 0.5s ease;
}
