.auth{
	min-height: 80vh;
	&-register{
		position: relative;
		margin: 30px auto 40px auto;
		background-color: #e3e3e3;
		border-radius: 20px;
		max-width: 60%;
		box-shadow: 0px 4px 8px rgba(0,0,0, 0.26);
		@media (max-width: 997px) {
			max-width: 80%;
		}
		@media (max-width: 480px) {
			max-width: 90%;
		}
	}
	&-title{
		margin: 40px 30px 0px 30px;
		padding: 10px 14px;
		text-align: center;
		font-size: 16px;
		border-radius: 6px;
		border: 1px solid rgba(255, 90, 82, 1);
		background-color: rgba(255, 90, 82, 0.1);
		@media (max-width: 480px) {
			margin: 40px 20px 0px 20px;
			font-size: 12px;
		}
	}
	&-buttons{
		background-color: $black;
		text-align: center;
		padding: 20px 0px;
		border-radius: 20px 20px 0px 0px;
	}
	&-button{
		cursor: pointer;
		background-color: $black;
		color: white;
		text-align: center;
		font-size: 18px;
		border-radius: 8px;
		border: 2px solid white;
		margin: 0px 6px;
		padding: 4px 10px;
		transition: background-color 0.3s, color 0.3s ;
		
		&:hover{
			background-color: white;
			color: black;
		}
	}
	&-button.active{
		color: black;
		background-color: white;
	}
	&-form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 40px 0px;
	}
	&-input{
		width: 80%;
		font-size: 16px;
		border-radius: 6px;
		border: none;
		padding: 8px 10px;
		margin: 14px 0px;
		box-shadow: 4px 6px 8px rgba(0,0,0, 0.16);
		@media (max-width: 480px) {
			width: 90%;
			margin: 10px 0px;
		}
	}
	&-submit{
		margin-top: 40px;
		letter-spacing: 0.8px;
		text-transform: uppercase;
		border: none;
		font-size: 16px;
		padding: 10px 16px;
		box-shadow: 4px 6px 8px rgba(0,0,0, 0.16);
		&:disabled{
			cursor: not-allowed;
			background-color: rgba(0,0,0, 0.4);
			color: white;
		}
		@media (max-width: 480px) {
			width: 90%;
		}
	}
	&-error{
		color: red;
		font-size: 12px;
	}
	&-bottom{
		background-color: $black;
		padding: 20px;
		width: 100%;
		border-radius: 0px 0px 20px 20px;
	}

}