@import "../variables";

.pizza-block {
	width: 100%;
	text-align: center;
	margin-bottom: 65px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: 1090px) {
		margin-bottom: 35px;
	}

	@media (max-width: 768px) {
		&:not(:last-of-type) {
			border-bottom: 1px solid #efefef;
			margin-bottom: 25px;
			padding-bottom: 45px;
		}
	}

	&__image {
		width: 260px;
	}

	&__title {
		font-size: 20px;
		font-weight: 900;
		letter-spacing: 1%;
		margin-bottom: 20px;
	}

	&__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__arrow {
		display: flex;
		cursor: pointer;
		span {
			font-size: 16px;
			&:hover {
				text-decoration: underline;
			}
		}
		&::after {
			content: "";
			transition: 0.4s;
			position: relative;
			top: 6px;
			right: -6px;
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-right: 4px solid black;
			transform: rotate(-90deg);
		}
	}
	&__arrow.active {
		&::after {
			transform: rotateZ(90deg);
		}
	}

	&__description-text {
		font-size: 12px;
		margin: 0px;
		max-width: 260px;
		opacity: 0;
		max-height: 0;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
	}

	&__price {
		font-weight: bold;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: 0.015em;
	}
	.button--add {
		display: flex;
		align-items: center;
		span {
			padding: 0 8px;
		}
	}
}
