@import "fonts";
@import "variables";
@import "libs/normalize";

@import "components/all";

body {
	background-color: $background;
	padding: 50px 0;
	@media (max-width: 768px) {
		padding: 20px 0;
	}
	@media (max-width: 554px) {
		padding: 0;
	}
}

.wrapper {
	width: calc(100vw - 100px);
	height: 100%;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 10px;
	max-width: 1400px;
	@media (max-width: 768px) {
		width: calc(100% - 40px);
	}
	@media (max-width: 554px) {
		width: 100%;
		border-radius: 0px;
	}
}

.content {
	padding: 40px 0;
	position: relative;

	&__title {
		margin: 35px 0;
		@media (max-width: 768px) {
			font-size: 36px;
		}
	}

	&__items {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		grid-gap: 4vw;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.container {
	width: $container-width;
	margin: 0 auto;

	&--cart {
		max-width: 820px;
		margin: 30px auto;
		.content__title {
			margin: 0;
		}

		@media (max-width: 768px) {
			margin-top: 0;
			margin-bottom: 0;
		}

		.content__items {
			grid-template-columns: 1fr;
		}
	}
}

.toaster {
	background-color: #282828;
	color: white;
	padding: 20px;
	font-size: 20px;
	max-width: 80%;
	@media (max-width:767px) {
		font-size: 16px;
	} 
	@media (max-width:554px) {
		font-size: 12px;
		max-width: 100%;
	} 
}


