@font-face {
  font-family: 'Proxima Nova';
  src: url("./fonts/ProximaNova-Black.eot");
  src: local("./fonts/Proxima Nova Black"), local("ProximaNova-Black"), url("./fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Black.woff") format("woff"), url("./fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./fonts/ProximaNova-Bold.eot");
  src: local("./fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Bold.woff") format("woff"), url("./fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./fonts/ProximaNova-Regular.eot");
  src: local("./fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("./fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Regular.woff") format("woff"), url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./fonts/ProximaNova-Extrabld.eot");
  src: local("./fonts/Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("./fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Extrabld.woff") format("woff"), url("./fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.header {
  padding: 40px 0 0 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  margin-right: 16px;
}

@media (max-width: 554px) {
  .header__logo img {
    margin-right: 8px;
  }
}

.header__logo h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  font-weight: 800;
}

@media (max-width: 767px) {
  .header__logo h1 {
    font-size: 22px;
  }
}

@media (max-width: 554px) {
  .header__logo h1 {
    font-size: 18px;
  }
}

.header__logo p {
  color: #7b7b7b;
  font-size: 16px;
}

@media (max-width: 767px) {
  .header__logo p {
    font-size: 15px;
  }
}

@media (max-width: 554px) {
  .header__logo p {
    font-size: 12px;
  }
}

.button {
  display: inline-block;
  background-color: #fe5f1e;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.button,
.button span {
  color: #fff;
}

.button i,
.button span,
.button path,
.button svg {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  background-color: #f24701;
}

.button:active {
  background-color: #de4101;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.button--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  border-width: 2px;
}

.button--black {
  background-color: #232323;
}

.button--black:hover, .button--black:active {
  background-color: #3d3d3d;
}

.button--outline {
  background-color: #fff;
  border-color: #fe5f1e;
}

.button--outline,
.button--outline span {
  color: #fe5f1e;
}

.button--outline svg path {
  fill: #fe5f1e;
}

.button--outline:hover {
  background-color: #fe5f1e;
}

.button--outline:hover,
.button--outline:hover span {
  color: #fff;
}

.button--outline:hover svg path {
  fill: #fff;
}

.button--outline:active {
  background-color: #f24701;
}

.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}

.button--add svg {
  margin-right: 2px;
}

.button--add span {
  font-weight: 600;
  font-size: 16px;
}

.button--add:hover i {
  background-color: #fff;
  color: #fe5f1e;
}

.button--add i {
  display: inline-block;
  border-radius: 30px;
  background-color: #fe5f1e;
  color: #fff;
  font-weight: 600;
  width: 22px;
  height: 22px;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  position: relative;
  top: -1px;
  left: 3px;
}

.button--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 23px;
  padding: 12px 25px;
}

@media (max-width: 554px) {
  .button--cart {
    padding: 6px 12px;
  }
}

.button--cart svg {
  margin-right: 8px;
  margin-bottom: 1px;
}

@media (max-width: 554px) {
  .button--cart svg {
    margin-right: 4px;
    margin-bottom: 1px;
  }
}

.button--cart span {
  font-weight: 600;
  font-size: 16px;
}

@media (max-width: 554px) {
  .button--cart span {
    font-weight: 400;
    font-size: 14px;
  }
}

@media (max-width: 554px) {
  .button--cart .cart__text {
    display: none;
  }
}

@media (max-width: 554px) {
  .button--cart .button__delimiter {
    display: none;
  }
}

.categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  .categories ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.categories ul li {
  font-size: 16px;
  border: 1px solid black;
  background-color: #f9f9f9;
  padding: 6px 14px;
  border-radius: 6px;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  width: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.categories ul li:hover {
  background-color: #f4f4f4;
}

.categories ul li:active {
  background-color: #ececec;
}

.categories ul li.active {
  background-color: #282828;
  color: #fff;
}

.categories ul li:not(:last-child) {
  margin-right: 16px;
}

@media (max-width: 768px) {
  .categories ul li:not(:last-child) {
    margin-right: 5px;
  }
}

.pizza-block {
  width: 100%;
  text-align: center;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1090px) {
  .pizza-block {
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .pizza-block:not(:last-of-type) {
    border-bottom: 1px solid #efefef;
    margin-bottom: 25px;
    padding-bottom: 45px;
  }
}

.pizza-block__image {
  width: 260px;
}

.pizza-block__title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}

.pizza-block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pizza-block__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.pizza-block__arrow span {
  font-size: 16px;
}

.pizza-block__arrow::after {
  content: "";
  position: relative;
  top: 6px;
  right: -6px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid black;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.pizza-block__arrow.active::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.pizza-block__description-text {
  font-size: 12px;
  margin: 0px;
  max-width: 260px;
  opacity: 0;
  max-height: 0;
}

.pizza-block__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.pizza-block__price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.pizza-block .button--add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pizza-block .button--add span {
  padding: 0 8px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 10px;
}

.copyright {
  font-size: 18px;
  letter-spacing: 1.1px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social li:not(:last-child) {
  margin-right: 20px;
}

.number {
  margin: 10px 0px 20px 0px;
  font-size: 18px;
  text-decoration: underline;
}

.description-enter {
  opacity: 0;
  margin: 0px 0px;
  max-height: 0;
}

.description-enter-active {
  opacity: 1;
  margin: 10px 0px;
  max-height: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.description-enter-done {
  opacity: 1;
  margin: 10px 0px;
  max-height: 100px;
}

.description-exit {
  opacity: 1;
  margin: 10px 0px;
  max-height: 100px;
}

.description-exit-active {
  opacity: 0;
  margin: 0px 0px;
  max-height: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body {
  background-color: #ffdf8c;
  padding: 50px 0;
}

@media (max-width: 768px) {
  body {
    padding: 20px 0;
  }
}

@media (max-width: 554px) {
  body {
    padding: 0;
  }
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}

@media (max-width: 768px) {
  .wrapper {
    width: calc(100% - 40px);
  }
}

@media (max-width: 554px) {
  .wrapper {
    width: 100%;
    border-radius: 0px;
  }
}

.content {
  padding: 40px 0;
  position: relative;
}

.content__title {
  margin: 35px 0;
}

@media (max-width: 768px) {
  .content__title {
    font-size: 36px;
  }
}

.content__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 4vw;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container--cart {
  max-width: 820px;
  margin: 30px auto;
}

.container--cart .content__title {
  margin: 0;
}

@media (max-width: 768px) {
  .container--cart {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.container--cart .content__items {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.cart__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .cart__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__top .content__title {
    margin-bottom: 30px;
  }
}

.cart .content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.cart .content__title svg {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cart .content__title svg path {
  stroke: #232323;
  stroke-width: 1.9;
}

.cart__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  border: 2px solid #b6b6b6;
  padding: 14px 20px;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

@media (max-width: 768px) {
  .cart__clear {
    width: 100%;
  }
}

.cart__clear span {
  display: inline-block;
  margin-left: 7px;
  color: #b6b6b6;
  font-size: 18px;
}

.cart__clear span,
.cart__clear svg,
.cart__clear path {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.cart__clear:hover svg path {
  stroke: #373737;
}

.cart__clear:hover span {
  color: #373737;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 20px 0;
  margin-top: 30px;
}

@media (max-width: 480px) {
  .cart__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
}

@media (max-width: 480px) {
  .cart__item-wrapper {
    margin-right: 0px;
  }
}

.cart__item-img {
  position: relative;
  margin-right: 6px;
  height: 100px;
  min-width: 100px;
}

.cart__item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart__item-info h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.cart__item-info p {
  font-size: 18px;
  color: red;
}

.cart__item-count_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

@media (max-width: 480px) {
  .cart__item-count_price {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
  }
}

.cart__item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__item-count b {
  font-size: 22px;
  padding: 0 6px;
}

@media (max-width: 767px) {
  .cart__item-count b {
    font-size: 18px;
    padding: 0 8px;
  }
}

.cart__item-count-minus svg path:first-of-type {
  display: none;
}

.cart__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__item-price b {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.01em;
}

@media (max-width: 767px) {
  .cart__item-price b {
    font-size: 20px;
  }
}

.cart__item-remove {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 4%;
}

.cart__item-remove .button {
  border-color: #2a2a2a;
}

.cart__item-remove svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart__item-remove svg path {
  fill: #2a2a2a;
}

.cart__item-remove .button svg {
  width: 11.5px;
  height: 11.5px;
  position: relative;
}

.cart__item-remove .button:hover, .cart__item-remove .button:active {
  border-color: #d0d0d0;
  background-color: #2a2a2a;
}

.cart__bottom {
  margin: 50px 0;
}

.cart__bottom-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .cart__bottom-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }
}

.cart__bottom-details span {
  font-size: 22px;
}

.cart__bottom-details span b {
  margin-left: 6px;
}

.cart__bottom-details span:last-of-type b {
  color: #fe5f1e;
}

.cart__bottom-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.cart__bottom-buttons .go-back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  border-color: #b6b6b6;
}

.cart__bottom-buttons .go-back-btn span {
  color: #9d9d9d;
  font-weight: 500;
  font-size: 18px;
}

.cart__bottom-buttons .go-back-btn:hover {
  background-color: #111111;
  border-color: #111111;
}

.cart__bottom-buttons .go-back-btn:hover span {
  color: #f6f6f6;
}

.cart__bottom-buttons .go-back-btn svg {
  margin-right: 12px;
}

.cart__bottom-buttons .go-back-btn svg path {
  fill: transparent;
  stroke-width: 2;
}

.cart__bottom-buttons .pay-btn {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 210px;
  padding: 16px;
}

@media (max-width: 500px) {
  .cart__bottom-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__bottom-buttons .button {
    margin-bottom: 20px;
    width: 100%;
    height: 54px;
  }
}

.cart--empty {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.cart--empty h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .cart--empty h2 {
    font-size: 24px;
  }
}

.cart--empty p {
  font-size: 18px;
  line-height: 145.4%;
  letter-spacing: 0.01em;
  color: #777777;
}

@media (max-width: 480px) {
  .cart--empty p {
    font-size: 14px;
  }
}

.cart--empty i {
  font-style: normal;
  position: relative;
  top: 2px;
}

.cart--empty .image-container {
  position: relative;
  margin: 30px 0px 20px 0px;
  padding: 0 0 60% 0;
}

.cart--empty .image-container img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.cart--empty .button--black {
  padding: 12px 0 14px;
  width: 230px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 480px) {
  .cart--empty .button--black {
    font-size: 14px;
    width: 70%;
    padding: 12px 12px;
  }
}
